* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat'
}

ul {
  list-style-type: none;
}

dt {
  font-weight: bold;
  font-size: 22px;
}

.background {
  /*background-color: #abc;*/
  background-color: lightgrey;
  animation: pulse 2s;
}

@keyframes pulse {
  0%, 100% {
    background-color: black;
  }
  100% {
    background-color: lightgrey;
  }
}

.lineBreak {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 3px dashed #337ab7;
}

.bracketDiv {
  height: 80px;
  margin-top: 3.5%;
  margin-left: -12%;
}

.bracketHeight {
  height: 127px;
  margin-left: 44px;
  margin-top: -42%;
}

.passedHeader {
  clear: both;
  margin-left:23%;
}

.passedHeaderCongress {
  clear: both;
  font-size: 50px;
  margin-left:23%;
}

.congressRow {
  margin-left: -27px;
  margin-top: 11%
}

.headerCard {
  clear: left;
  /*margin-left: 12%;*/
}

.subTitle {
  margin-top: 2%;
  font-size: 32PX;
  color: #24386C;
  margin-left: -10%;
  width: 74%;
}


.form-control {
  width: 600px;
}

.subTitleSmall {
  clear:left;
}

.sub{
  font-size: 114%;
  margin-top: -1.5%;
  margin-left: 7%;
  width: 63%;
}

.cardHolderReps {
  margin-left: -4%;
    margin-top: 3%;
    clear: both;
}

.repCardTop {
  overflow: auto;
  margin-left: 6%;
}

.repBtn {
  margin-left: -55%;
  padding: 0 2% 0 2%;
  color: white;
  background-color: black;
  border-color: black;
  margin-top: 5%
}

.cardHolder {
  overflow: auto;
  clear: both; 
  margin-left: 13%;
  margin-top: 1%;
  font-size: 18px;
}

.billCardReps {
  border: 3px solid black;
  border-style: groove;
  padding: 1% 2% 1% 4%;
  border-radius: 2%;
  background-color: white;
  font-size: 17px;
  margin-right: 5%;
  text-align: center;
  width: 45%;
  margin-top: 28px;
}

.repRed {
  background-color: #E57373;
}

.repBlue {
  background-color: #42A5F5;
}

.billCard {
  border: 3px solid black;
  border-style: groove;
  padding: 8px 8px 8px 16px;
  border-radius: 30px 10px 30px 0px;
  background-color: white;
  animation-duration: 4s;
  animation-name: slideup;
  /*-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);*/
}

@keyframes slideup {
  0% {
    transform: translate3d(0px, -3000px, 0px)
  }
  100% {
    transform: translate3d(0px, 0px, 0px)        
  }
  /*from {
    margin-bottom: 100%;
    margin-left: 300%;
    margin-top: 100%;
    width: 300%; 
    -webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
  }

  to {
    margin-bottom: 0%;
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
    -webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
  }*/
}

.zip {
  width: 150px;
  display: unset;
}

.navBar {
  margin: 3% 0 -1% 14%;
}

.navBarLine {
  margin-top: 20px;
  margin-left: -10px;
  margin-bottom: -36px;
  border: 0;
  border-top: 15px solid #2c81be;
  border-radius: 45px;
  width: 131%;
}
.searchBillBtn {
  margin-top: 1%;
}

.btnOne {
  margin: 0 2% 3% 0;
}

.dropDownBtn {
  padding: 5px;
}

.findRepBtn {
  clear: left;
  font-size: 27px;
  margin-top: 5%;
  padding: 3px;
  margin-left: 74px;
}

.repFloat {
  float: left;
  margin-right: 5%;
}

.btn-warning {
  color: white;
  background-color: #2C81BE;
  border-color: #2C81BE;
  font-size: 18px;
  padding: 3px;
}

.twitterColor {
  color: darkblue;
}

.contactInfo {
  text-align: left;
  margin-left: 13%;
  margin-top: 2%
}

.comments {
  border: 3px dashed black;
  border-radius: 1%;
  padding: 1%;
  margin: 1% 1% 1% 0%;
}

.congressError {
  margin-top: 110px;
  clear: both;
  margin-left: 56%;
  font-size: 14px;
}

.billError {
  color: red;
  float: right;
  margin-right: 65%;
  margin-top: 15px;
}

.logIn {
  clear: left;
  margin-top: 4%;
  margin-left: 6%;
}

