<div class="passedBody container-fluid">
  <div class="col-sm-8">
    <h2 class="passedHeader">Most Recently Passed Legislation</h2>
    <h4 class="passedHeader">List updated daily. Topmost bill is the most recent to pass both houses.</h4>
    <div class="passedHeader">
      <input class="form-control" type="text" ng-model="subject">
      <button class="searchBillBtn btn btn-primary" ng-click="sendSubjectPassed()">Search Bills</button>
      <div class="billError" ng-show="billError">
        <p>Please enter a search query</p>
      </div>
    </div>
  </div>

  <div class="cardHolder col-sm-8">
    <!--passed bills returned w/o a search query-->
    <dl class="billCard" ng-repeat="bill in passed">
      <dt>Bill title:</dt>
      <dd>{{bill.official_title}}</dd>
      <dt>Sponsoring Congress Person:</dt>
      <dd>{{bill.sponsor.title}}. {{bill.sponsor.first_name}} {{bill.sponsor.last_name}}</dd>
      <span>  
        <button class="btn btn-default dropDownBtn" ng-click="showBillDetails = !showBillDetails">Bill Details</button>
        <button class="btn btn-default dropDownBtn" ng-click="showReading = !showReading">Continue Reading</button>
        <button class="btn btn-default dropDownBtn" ng-click="showComment = !showComment; showComments(bill.bill_id);">Comments</button>
      </span>
      <div ng-show="showBillDetails">
        <hr class="lineBreak">
        <dt>Official Id:</dt>
        <dd>{{bill.bill_id}}</dd>
        <dt>Date enacted:</dt>
        <dd>{{bill.history.enacted_at}}</dd>
        <dt>Date introduced:</dt>
        <dd>{{bill.introduced_on}}</dd>
      </div>
      <div ng-show="showReading">
        <hr class="lineBreak">
        <dt><a href="{{bill.last_version.urls.html}}">Read</a> the bill in its entirety.</dt>
        <dt><a href="{{bill.urls.govtrack}}">Dig</a> into the details.</dt>
      </div>
      <!-- comments section -->
      <div class="comments" ng-show="showComment">
        <dl ng-repeat="comment in returnedComments">
          <dt>{{comment.author}} said:</dt>
          <dd>{{comment.body}}</dd>
        </dl>
        <textarea class="form-control" placeholder="Floor's open" rows="3" cols="50" ng-model="$parent.billComment"></textarea>Name
        <input type="text" ng-model="$parent.userName">
        <button ng-click="submitComment(billComment, userName, bill.bill_id);">Submit</button>
      </div>
    </dl>

    <!--passed bills w/ search query-->
    <dl class="billCard" ng-repeat="bill in subjectReturned">
      <dt>Bill title:</dt>
      <dd>{{bill.official_title}}
        <dd>
          <dt>Sponsoring Congress Person:</dt>
          <dd>{{bill.sponsor.title}}. {{bill.sponsor.first_name}} {{bill.sponsor.last_name}}</dd>
          <span>  
            <button class="btn btn-default dropDownBtn" ng-click="showDetails = !showDetails">Bill Details</button>
            <button class="btn btn-default dropDownBtn" ng-click="showLinks = !showLinks">Continue Reading</button>
            <button class="btn btn-default dropDownBtn" ng-click="showComment = !showComment; showComments($index)">Comments</button>          
          </span>
          <div ng-show="showDetails">
            <hr class="lineBreak">
            <dt>Official Id:</dt>
            <dd>{{bill.bill_id}}</dd>
            <dt>Chamber:</dt>
            <dd>{{bill.chamber}}</dd>
            <dt>Date enacted:</dt>
            <dd>{{bill.history.enacted_at}}</dd>
            <dt>Date introduced:</dt>
            <dd>{{bill.introduced_on}}</dd>
          </div>
          <div ng-show="showLinks">
            <hr class="lineBreak">
            <dt><a href="{{bill.last_version.urls.html}}">Read</a> the bill in its entirety.</dt>
            <dt><a href="{{bill.urls.govtrack}}">Dig</a> into the details.</dt>
          </div>
          <!-- comments section -->
          <div class="comments" ng-show="showComment">
            <dl ng-repeat="comment in returnedComments">
              <dt>{{comment.author}} said:</dt>
              <dd>{{comment.body}}</dd>
            </dl>
            <textarea class="form-control" placeholder="Floor's open" rows="3" cols="50" ng-model="$parent.billComment"></textarea>Name
            <input type="text" ng-model="$parent.userName">
            <button ng-click="submitComment(billComment, userName, $index)">Submit</button>
          </div>
    </dl>
  </div>
</div>